name: CI with Cache

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Cache dependencies
        id: cache-deps
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: cache-96cb9f3

      - name: prime-cache-96cb9f3
        run: |
          echo "Cache hit: ${{ steps.cache-deps.outputs.cache-hit }}"
